<!-- AN ERROR PAGE CAN GO HERE -->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> <!-- Styles this element like code looks in a code block (e.g. Slack code snippets) -->