body{
    background:#75a9ec;
}

.gp_container{
    background-color:#f4f5fc;
    color:#252525;
    border-radius:0 0 2rem 2rem;
}

.gp_container h2{
    font-size:3.5rem;
    font-family:'Leckerli One',cursive;
}

.gp_container h3{
    font-size:3.25rem;
    font-family:'Patrick Hand',cursive;
}

.gp_container button{
    font-family:'Patrick Hand',cursive;
}

.gp_img{
    max-width:450px;
    height:325px;
    object-fit:cover;
}

.formDiv{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.navbar{
    font-family:'Patrick Hand',cursive;
}

.navbar-brand{
    font-size:3rem;
}

.navbar-nav{
    font-size:2rem;
}